/* design of seek site */
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,700';

*{
  color: #333333;
  font-family: 'Roboto', sans-serif;
}
body{
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto Slab', serif;
  color: #198777;
}
nav{
  text-align: center;
  padding: 10px;
}
thead th{
  background-color: #eeeeee;
  text-align: center;
  padding: 10px;
}
tbody td {
  padding: 10px;
}
