/* design of seek site */
*{
  color: #333333;
}
body{

}
nav{
  text-align: center;
  padding: 10px;
}
thead th{
  background-color: #eeeeee;
  text-align: center;
  padding: 10px;
}
tbody td {
  padding: 10px;
}
